<!DOCTYPE html>
	<html  lang="en">
		<head>
		<style>
			body {
				background-image: url(img_name);
				# background-size: 1538px 724px;
				background-size : cover;
				background-repeat : no-repeat;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="styles.css">

		<title>Home</title>
		</head>
		<body>
			

		<ul class="navlist">
		  <li> <img src="img/logogimp.png" alt="mylogo" width="46" height="46"> </li>
		  <li><a href="2018-standings.html">2018 Standings</a></li>
		  <li class="dropdown">
			<a href="historical-data.html" class="dropbtn">Past Years</a>
			<div class="dropdown-content">
			  <a href="2017-standings.html">2017</a>
			  <a href="2016-standings.html">2016</a>
			  <a href="2015-standings.html">2015</a>
			</div>
		  </li>	
		  <li><a href="comments.html">Comment</a></li>
		  <li style="float:right"><a class="active" href="about.html">About</a></li>
		</ul>


		</body>
	</html>
